<ion-header>
  <ion-toolbar class="color-principal">
      <ion-title id="tPrincipal">GuardLink</ion-title>
  </ion-toolbar>
</ion-header>

<h1 class="tittle-text ion-text-center">HORARIO PERSONAL</h1>

<ion-content class="ion-padding">
  <ion-img class="large-img" src="assets/images/logoapp.svg"></ion-img>
  
  <div class="ubi-containter">
    
  </div>
  
  

  <ion-button class="ion-margin-top color-principal footer-textt" expand="block" routerLink="/inicio">Volver atras</ion-button>
  <h1 class="footer-text ion-text-center">www.GuardLink.cl</h1>
</ion-content>
