<ion-header>
  <ion-toolbar class="color-principal">
      <ion-title id="tPrincipal">Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/images/img4.svg"></ion-img>
  <h1 class="footer-text ion-text-center">PAGINA NO ENCONTRADA</h1>
  <p class="footer-text ion-text-center">Lo sentimos, por favor vuelva a intentar.</p>
  
  <ion-button class="ion-margin-top color-principal footer-textt" expand="block" routerLink="/login">Volver al Login</ion-button>

  <ion-button class="ion-margin-top color-principal footer-textt" expand="block" routerLink="/register">Volver al Register</ion-button>

  <h1 class="footer-textt ion-text-center">www.GuardLink.cl</h1>
</ion-content>

