<ion-header>
    <ion-toolbar class="color-principal">
        <ion-title class="ion-text-center">GuardLink</ion-title>
    </ion-toolbar>
</ion-header>

<h1 class="tittle-text ion-text-center">INICIO</h1>

<ion-content class="ion-padding">
    <ion-text>
        <h2 class="ion-text-center texto-bienvenida ">"Bienvenido a nuestra App"</h2>
    </ion-text>
    
    <ion-img src="assets/images/img3.svg"></ion-img>
    
    <ion-text>
        <h2 class="color-1">Menú de Aplicación:</h2>
    </ion-text>

    <div class="menu-container">
        <ion-button expand="block" class="ion-margin-top color-principal" [routerLink]="['/ubicacion']">Ubicación Tiempo Real</ion-button>
        <ion-button expand="block" class="ion-margin-top color-principal" [routerLink]="['/horario']">Horario Personal</ion-button>
        <ion-button expand="block" class="ion-margin-top color-principal" [routerLink]="['/mensajes']">Mensajes</ion-button>
        <ion-button expand="block" class="ion-margin-top color-principal" [routerLink]="['/historial']">Historial</ion-button>
        <ion-button expand="block" class="ion-margin-top color-principal" [routerLink]="['/reportes']">Reportes</ion-button>
        <ion-button expand="block" class="ion-margin-top color-principal" [routerLink]="['/boton']">¡Botón de Pánico!</ion-button>
    </div>

    <h1 class="footer-textt ion-text-center">www.GuardLink.cl</h1>
</ion-content>
