
.login-container {
    background-color: #f9f9f9; 
    border-radius: 12px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 20px auto; 
    max-width: 400px; 
}


.footer-textt {
    color: #333;  
    font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 10px; 
}

.footer-text {
    color: #333; 
    font-size: 18px; 
    font-weight: bold; 
    text-align: center;
    margin-bottom: 10px;
}


ion-button {
    border-radius: 8px; 
    font-weight: bold;
    transition: all 0.3s ease; 
}

ion-button:hover {
    transform: scale(1.05);
    background-color: #0056b3; 
}


.recover-password-text {
    font-size: 14px; 
    text-decoration: underline; 
    color: #007bff; 
    cursor: pointer;
}

.large-img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto; 
    display: block; 
}


