.register-container {
  background-color: #f9f9f9; 
  border-radius: 12px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  margin: 20px auto; 
  max-width: 400px; 
  text-align: center; 
}

.large-img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px auto; 
  display: block; 
}

.recover-password-text {
  font-size: 14px; 
  text-decoration: underline; 
  color: #007bff; 
  cursor: pointer;
}


.footer-textt {
  font-size: 18px; 
  color: #333; 
  margin-bottom: 20px; 
  font-weight: bold; 
}

.footer-text {
  color: #333; 
  font-size: 18px; 
  font-weight: bold; 
  text-align: center;
  margin-bottom: 10px;
}


ion-button {
  margin-top: 15px; 
  border-radius: 8px; 
  font-weight: bold;
  transition: all 0.3s ease; 
}


.secondary-button {
  background-color: #e0e0e0; 
  color: #000;
}

.secondary-button:hover {
  background-color: #d6d6d6;
}


ion-icon {
  color: #333; 
  font-size: 20px; 
  margin-right: 5px; 
}
