
.footer-text {
  font-size: 18px; 
  color: #333; 
  margin-bottom: 20px; 
  font-weight: bold; 
  text-align: center; 
}


.footer-textt {
  font-size: 18px; 
  color: #333; 
  margin-bottom: 20px; 
  font-weight: bold; 
}


.ubi-container {
  background-color: #f9f9f9; 
  border-radius: 12px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  margin: 20px auto; 
  max-width: 400px; 
}

.coordenadas-box {
  background-color: #f9f9f9; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 10px; 
  margin: 15px auto; 
  max-width: 400px; 
  text-align: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  font-size: 16px; 
  color: #333; 
}
